<!DOCTYPE html>
<html>
  <head>
    <meta carset="utf-8">
    <title>Help Page</title>
  </head>
  <body>
    <header>Will be right back </header>
    <p>Site is Currently down for Maintenance</p>
    {{> footer}}
  </body>
</html>
